main {
  padding-top: 120px; /* Adjust based on total header height */
}

@font-face {
  font-family: 'Assistant, sans-serif;';
  src: url('/fonts/GeorgiaPro-Regular.woff2') format('woff2'),
       url('/fonts/GeorgiaPro-Regular.woff') format('woff'),
       url('/fonts/GeorgiaPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Ensure the html/body take full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Assistant, sans-serif;', serif;
}

/* Root container for the app */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  background-color: pink;
}

